<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人主页</title>
   <link rel="stylesheet"  href="{{ url_for('static',filename='music_css/music_shouye.css') }}">
   <link rel="stylesheet" href="{{ url_for('static',filename='music_css/examples.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='music_css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='music_css/music_user.css') }}">
	<script src="{{url_for('static',filename='jQuery-pf-cj/js/vendor/html5shiv.js')}}"></script>
    <link href="{{url_for('static',filename='img/music.ico')}}" rel="shortcut icon">

</head>
<body>
<div id="box1">
<!--    网页头部-->
       <div class="d3" >
            <a href="/music_homepage.html" class="a6">返回首页</a>

            <div class="header-top-area">
                <a href="/loginout/" style="color:white" class="a1">
                    <span style="padding-left:7px" title="退出登录">注销</span>
                </a>
               <span style="padding-left:7px" class="a6">
                    <a href="/music_user.html" class="a7" title="显示个人信息">
                        <i class="fa fa-user-circle-o" aria-hidden="true" title="显示个人信息">{{session.get('username')}}</i>
                    </a>
                </span>
            </div>
     </div>
<!--    第二部分-->
<div id="db-nov-movie">
        <div class="d1">
            <a href="music_homepage.html" id="a2">
                <img src="../static/img/音乐论坛.png">
            </a>
        </div>
</div>
</div>

<div id="box2">
		<div id="header">
		个人主页
		</div>
		<div id="left">
			<ul>
				<li><a href="user_xx.html" target="iframe">个人信息</a></li>
				<li><a href="user_sc.html" target="iframe">我的收藏</a></li>
				<li><a href="user_pl.html" target="iframe">我的评论</a></li>
				<li><a href="user_xiaoxi.html" target="iframe">我的消息</a></li>
            </Ul>
		</div>
		<div id="main">
            <div><iframe width="100%" height="700px" frameborder="0"    name="iframe" ></iframe></div>

		</div>

	</div>
</body>
</html>