<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员系统</title>
    <link href="../static/img/music.ico" rel="shortcut icon">
    <style>
        .op1{
            height: 2000px;
            width:200px;
            background: #CB4042;
            font-size: large;
        }
    </style>
</head>
<header>
    <div class="d3" style="font-size: larger"><a href="op_Homepage.html">管理员主页</a></div>
</header>
<body>
    <div class="op1">
        <div style="padding-bottom: 20px;padding-top: 20px"><a href="op_info.html">个人简介</a></div>
        <div style="padding-bottom: 20px;padding-top: 20px"><a href="op_Ban.html">用户禁言</a></div>
        <div style="padding-bottom: 20px;padding-top: 20px"><a href="op_Examine.html">查看音乐信息</a></div>
        <div style="padding-bottom: 20px;padding-top: 20px"><a href="op_Edit.html">编辑音乐</a></div>
        <div style="padding-bottom: 20px;padding-top: 20px"><a href="op_Delete.html">删除音乐</a></div>
        <div style="padding-bottom: 20px;padding-top: 20px"><a href="op_AddMusic.html">添加音乐</a></div>
    </div>
</body>
</html>